<div class="list-group col-sm-4">
  <a *ngFor="let group of groups" (click)="selectGroup(group)" class="list-group-item">{{group}}</a>
</div>
<div class="col-sm-8" >
  <ul class="discussionBox">
    <li *ngFor="let group of groups" class="{{group}}">
      <div *ngIf="selectedGroup && selectedGroup.Name == group">
        <h1>{{selectedGroup.Name}}</h1>
        <ul id="group.Name"></ul>
        <form class="form-horizontal">
          <div class="form-group">
            <input #messageBox type="text" placeholder="Message" class="col-xs-8" />
            <input type="button" id="send" class="col-xs-2 btn btn-default btn-sm" value="Send" (click)="sendMessage(messageBox.value)" />
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>